*{
    margin:0;
    font-family:geogia,sans-sarif;
}
.header{
    background:#FFF8F3;
    background-image:url('../project1/images/background.png'), url('../project1/images/developer.png');
    background-repeat:no-repeat;
    background-position:bottom right,left;
    
}
nav{
    display:flex;
    justify-content:space-between;
    margin:50px 200px;
    
}
nav ul{
    display:flex;
    align-items:center;
}
nav li{
    list-style:none;
    margin-right:10px;
    
}
.nav-title{
    font-weight:700;
    font-size:45px;
}
.font-color{
    color:#3700ff;
}
.btn-primary{
    height:50px;
    background:#ffa500;
    width:100px;
    color:#fff;
    border:none;
    font-size:20px;
    border-radius:10px;
    cursor:pointer;
    transition:.8s;
    padding:1p5x 25px;
    text-align:center;
}
.btn-primary:hover{
    background:#262626;
    color:#fff;
}
.banner{
    margin:0 200px;
    display:flex;
    align-items:center;
}
.banner-title{
    font-size:60px;
    font-family:georgia,sans-serif;

}
.banner-subtitle{
    font-size:40px;
    font-family:georgia,sans-serif;
    margin-bottom:20px;

}
.text-banner{
    font-size:24px;
    font-family:georgia,sans-serif;
    margin-bottom:30px;
}
main{
    max-width:1140px;
    margin:0 auto;
}
/* About section start */
.about{
    margin-top:130px;
    background:#FFF8F3;
    border-radius:10px;
    padding:130px 150px;
    text-align:center;
}
.section-title{
    font-size:40px;
    margin-bottom:30px;
}
.section-description{
    color:#262626;
    font-size:18px;
}
.about-info-container{
    display:flex;
    justify-content:space-around;
    text-align:justify;
}
.info-title{
    text-align:center;
    font-size:21px;
}
.info-description{
text-align:center;
font-size:20px;
color:#574949;
font-weight:700;
}


.what-i-do{
    margin-top:130px;
    text-align:center;
    margin-bottom:50px;
    font-size:30px;
}
.skill-container{
    
    display:flex;
    gap:24px;
    
}
.skill{
    background:#ffffff;
    box-shadow:0px 6px 50px rgba(0,0,0,0.06);
    border-radius:5px;
    padding:30px;
    
}
.skill-title{
    margin-top:30px;
    font-weight:700;
    font-size:20px;
    margin-bottom:20px;
}
.skill-description{
    color:#757575;
}
.section-title{
    margin-top:130px;
    text-align:center;
}
/* resume content */
.resume-content{
    display:flex;
    gap:24px;
}
 .resume-item{
    margin-top:30px;
    margin-bottom:30px;
 }
.resume .title{
 margin-bottom:10px;
font-weight:700;
font-size:25px;
color:#474747;
margin-bottom:10px;

}
.resume .sub-title{
    color:#757575;
    font-weight:600;
    font-size:20px;
    margin-bottom:20px;
}
.contact{
    display:flex;
    gap:100px;
    background:rgb(248, 246, 247);
    padding:130px 100px;
    

}
.contact .icon{
    margin-bottom:10px;
}
.contact .section-title{
    text-align:left;
    margin-bottom:10px;
    
}
.contact input{
    display:flex;
    margin-bottom:5px;
    height:40px;
    width:300px;
    border:0;

}
.contact textarea{
    border:0;
}
.ok{
    font-size:25px;
    background:#ffa500;
    height:50px;
    width:100px;
    color:#fff;
    border-radius:5px;
    border:none;
    padding:5px 10px;
}
.ok:hover{
    background:green;
    color:#fff;
}